# Copy to .env and fill values

# Server port
PORT=3000

# External email API
EMAIL_API_BASE=https://localhost:7079
EMAIL_API_SEND_PATH=/api/Events/create
EMAIL_API_ALLOW_SELF_SIGNED=true

# Frontend API endpoints
VITE_API_BASE=https://localhost:7079
VITE_API_URL=https://localhost:7079/api
